# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Y\Documents\לימודים\שנה ד\סמסטר קיץ\תמע מתקדם ותכון תוכנה להנדסה\תרגילים\תרגיל 9\Ex9\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
